{%extends "accounts/layout.html"%}
{%load crispy_forms_tags%}

{%block content%}
<div class="container h-100">
    <div class="user_card">
        <form method="post">
            {%csrf_token%}
            <fieldset class="form-group"> 
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{form |crispy}}

            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Request Password Reset</button>

            </div>
        </form>
    </div>
</div>
{%endblock%}